{% extends 'main.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="form-con">
        <div class="left">
            {{ form.name }}
            {{ form.description }}
            <div class="teststeps">
                {{ testcase_step_formset.management_form }}
                {% for teststep in testcase_step_formset %}
                    <div class="teststep">
                        {{ teststep.action }}
                        {{ teststep.expected_result }}
                        {{ teststep.position }}
                        {{ teststep.id }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right">
            <div>
                {{ form.priority.label }}
                {{ form.priority }}
            </div>
            <fieldset class="con">
                <legend>{{ form.preconditions.label }}</legend>
                {{ form.preconditions }}
            </fieldset>
            <fieldset class="con">
                <legend>{{ form.postconditions.label }}</legend>
                {{ form.postconditions }}
            </fieldset>
            <fieldset class="con">
                <legend>{{ form.parameters.label }}</legend>
                {{ form.parameters }}
            </fieldset>
            <button type="submit" class="green-btn btn" style="margin-top: 20px;">Сохранить</button>
        </div>
    </div>
</form>
{% endblock %}