{% extends 'main.html' %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-auto pt-2 border-end">
            <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-warning">
                <i class="bi bi-arrow-left"></i></a>
        </div>
        <div class="col h-100">
            <div class="row h-6dot4 border-bottom">
                <div class="container pb-2 pt-2">
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <h5><span class="ms-1 me-2">{{ object.status|status_bootstrap_icon_class }}</span> <span class="me-2">{{ object.type|type_bootstrap_icon_class }}</span> Прогон "{{ object.test_suite.name }}" от {{ object.date_time|date:"d.m.Y в H:i" }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row h-93dot6">
                <div class="wrapper ps-0 h-100">
                    <div class="box h-100 border-end">
                        <div class="p-0 overflow-auto ">
                            <ul class="list-group list-group-flush list-group-sm testcaserun-list">
                            {% for testcaserun in testcaseruns %}
                                <li role="tab" type="button" class="list-group-item p-1 d-flex justify-content-between" data-bs-toggle="tab" data-bs-target="#TestCaseRun{{ testcaserun.id }}" aria-controls="TestCaseRun{{ testcaserun.id }}">
                                    <div class="d-flex">
                                        <div class="col-auto">
                                            <span class="me-2">{{ testcaserun.status|status_bootstrap_icon_class }}</span>
                                        </div>
                                        <div>
                                            {{ testcaserun.test_case.name }}{% if testcaserun.parametrize_name != 'None' %}{{ testcaserun.parametrize_name }}{% endif %}
                                        </div>
                                    </div>
                                    <div class="ms-2">
                                        {{ testcaserun.duration }}
                                    </div>
                                </li> 
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="handler"></div>
                    <div class="box col h-100 overflow-auto">
                        <div class="p-0 h-100 ">
                            <div class="tab-content" id="v-pills-tabContent">
                                {% for testcaserun in testcaseruns %}
                                <div class="tab-pane fade" id="TestCaseRun{{ testcaserun.id }}" role="tabpanel" aria-labelledby="TestCaseRun{{ testcaserun.id }}">
                                    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-teststeps-tab" data-bs-toggle="tab" data-bs-target="#nav-teststeps{{ testcaserun.id }}" type="button" role="tab" aria-controls="nav-teststeps{{ testcaserun.id }}" aria-selected="true">Шаги теста</button>
                                        {% if testcaserun.params %}<button class="nav-link" id="nav-params-tab" data-bs-toggle="tab" data-bs-target="#nav-params{{ testcaserun.id }}" type="button" role="tab" aria-controls="nav-params{{ testcaserun.id }}" aria-selected="false">Параметры</button>{% endif %}
                                        {% if testcaserun.log %}<button class="nav-link" id="nav-logs-tab" data-bs-toggle="tab" data-bs-target="#nav-logs{{ testcaserun.id }}" type="button" role="tab" aria-controls="nav-logs{{ testcaserun.id }}" aria-selected="false">Логи</button>{% endif %}
                                    </div>
                                    <div class="tab-content h-100" id="nav-tabContent">
                                        <div class="tab-pane fade active show" id="nav-teststeps{{ testcaserun.id }}" role="tabpanel" aria-labelledby="nav-teststeps-tab">
                                            <div class="mt-2 mb-2">
                                                {% if testcaserun.report %}
                                                <div class="container pt-2 {% if testcaserun.status == 'E' %} bg-warning-light {% endif %} {% if testcaserun.status == 'F' %} bg-error-light {% endif %}">
                                                    {% if testcaserun.status == 'E' %}
                                                        <pre>{{ testcaserun.report }}</pre>
                                                    {% endif %}
                                                    {% if testcaserun.status == 'F' %}
                                                        <h5>FAIL</h5>
                                                        <pre>{{ testcaserun.report }}</pre>
                                                    {% endif %}
                                                </div>
                                                {% endif %}
                                                {% if testcaserun.skipreason %}
                                                <div class="container pt-2 bg-light">
                                                    <h5>SKIPREASON</h5>
                                                    <pre>{{ testcaserun.skipreason }}</pre>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="container">
                                                <div class="row mb-2">
                                                    <p class="collapse-link {%if testcaserun.precondition_status == 'P' %}collapsed{% endif %}" data-bs-toggle="collapse" href="#CollapsePrecondition{{testcaserun.pk}}" role="button"
                                                        aria-expanded="false" aria-controls="CollapsePrecondition{{testcaserun.pk}}">
                                                        Предусловия</p>
                                                    <div class="collapse {%if testcaserun.precondition_status != 'P' %}show{% endif %}" id="CollapsePrecondition{{testcaserun.pk}}">
                                                        <div class="d-flex align-items-center">
                                                            <span class="me-2">{{ testcaserun.precondition_status|status_bootstrap_icon_class }}</span>
                                                            <textarea type="text" placeholder="Предусловия" class="form-control" readonly>{{ testcaserun.test_case.preconditions }}</textarea>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <ul class="list-group-flush mt-2">
                                                            {% for fixture in testcaserun.fixtures.before %}
                                                                <li class="list-group-item">
                                                                    <div class="d-flex">
                                                                        <span class="me-2">{{ fixture.status.status|status_bootstrap_icon_class }}</span>
                                                                        <p class="collapse-link" data-bs-toggle="collapse" href="#CollapseFixtureBefore{{fixture.name}}" role="button"
                                                                            aria-expanded="false" aria-controls="CollapseFixtureBefore{{fixture.name}}">
                                                                            {{ fixture.name }}</p>
                                                                    </div>
                                                                    <div class="collapse" id="CollapseFixtureBefore{{fixture.name}}">
                                                                        <ul class="list-group-flush">
                                                                            {% if fixture.status.result is not None %} <li class="list-group-item">Результат: {{ fixture.status.result }}</li> {% endif %}
                                                                            <li class="list-group-item">Продолжительность: {{ fixture.duration }}</li>
                                                                            {% if fixture.status.error is not None %} <li class="list-group-item">Ошибка: {{ fixture.status.error }}</li> {% endif %}
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p class="collapse-link" data-bs-toggle="collapse" href="#CollapseSteps{{testcaserun.pk}}" role="button"
                                                        aria-expanded="true" aria-controls="CollapseSteps{{testcaserun.pk}}">
                                                        Шаги</p>
                                                    <div class="collapse show mb-2" id="CollapseSteps{{testcaserun.pk}}">
                                                        {% for teststep in testcaserun.get_test_steps %}
                                                        <div class="d-flex align-items-center">
                                                            <span class="me-2">{{ teststep.result|status_bootstrap_icon_class }}</span>
                                                            <ul class="list-group list-group-horizontal mb-1 w-100">
                                                                <li class="list-group-item bg-secondary text-light col-teststep-counter">{{ forloop.counter }}</li>
                                                                <li class="list-group-item col {{ teststep.result|status_bootstrap_background_class_for_teststep }}">{{ teststep.action }}</li>
                                                                <li class="list-group-item col {{ teststep.result|status_bootstrap_background_class_for_teststep }}">{{ teststep.expected_result }}</li>
                                                            </ul>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="row mt-1">
                                                    <p class="collapse-link {%if testcaserun.postcondition_status == 'P' %}collapsed{% endif %}" data-bs-toggle="collapse" href="#CollapsePostcondition{{testcaserun.pk}}" role="button"
                                                        aria-expanded="false" aria-controls="CollapsePostcondition{{testcaserun.pk}}">
                                                        Постусловия</p>
                                                    <div class="collapse {%if testcaserun.postcondition_status != 'P' %}show{% endif %}" id="CollapsePostcondition{{testcaserun.pk}}">
                                                        <div class="d-flex align-items-center">
                                                            <span class="me-2">{{ testcaserun.postcondition_status|status_bootstrap_icon_class }}</span>
                                                            <textarea type="text" placeholder="Постусловия" class="form-control" readonly>{{ testcaserun.test_case.postconditions }}</textarea>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <ul class="list-group-flush mt-2">
                                                            {% for fixture in testcaserun.fixtures.after %}
                                                                <li class="list-group-item">
                                                                    <div class="d-flex">
                                                                        <span class="me-2">{{ fixture.status.status|status_bootstrap_icon_class }}</span>
                                                                        <p class="collapse-link" data-bs-toggle="collapse" href="#CollapseFixtureAfter{{fixture.name}}" role="button"
                                                                            aria-expanded="false" aria-controls="CollapseFixtureAfter{{fixture.name}}">
                                                                            {{ fixture.name }}</p>
                                                                    </div>
                                                                    <div class="collapse" id="CollapseFixtureAfter{{fixture.name}}">
                                                                        <ul class="list-group-flush">
                                                                            {% if fixture.status.result is not None %} <li class="list-group-item">Результат: {{ fixture.status.result }}</li> {% endif %}
                                                                            <li class="list-group-item">Продолжительность: {{ fixture.duration }}</li>
                                                                            {% if fixture.status.error is not None %} <li class="list-group-item">Ошибка: {{ fixture.status.error }}</li> {% endif %}
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-params{{ testcaserun.id }}" role="tabpanel" aria-labelledby="nav-params-tab">
                                            <div class="container">
                                                <pre>{{ testcaserun.params }}</pre>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-logs{{ testcaserun.id }}" role="tabpanel" aria-labelledby="nav-logs-tab">
                                            <div class="container">
                                                <pre>{{ testcaserun.log }}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var handler = document.querySelector('.handler');
    var wrapper = handler.closest('.wrapper');
    var boxA = wrapper.querySelector('.box');
    var isHandlerDragging = false;

    document.addEventListener('mousedown', function(e) {
    // If mousedown event is fired from .handler, toggle flag to true
        if (e.target === handler) {
            isHandlerDragging = true;
        }
    });

    document.addEventListener('mousemove', function(e) {
    // Don't do anything if dragging flag is false
        if (!isHandlerDragging) {
            return false;
    }

    // Get offset
    var containerOffsetLeft = wrapper.offsetLeft;

    // Get x-coordinate of pointer relative to container
    var pointerRelativeXpos = e.clientX - containerOffsetLeft;
    
    // Arbitrary minimum width set on box A, otherwise its inner content will collapse to width of 0
    var boxAminWidth = 120;

    // Resize box A
    // * 8px is the left/right spacing between .handler and its inner pseudo-element
    // * Set flex-grow to 0 to prevent it from growing
    boxA.style.width = (Math.max(boxAminWidth, pointerRelativeXpos - 8)) + 'px';
    boxA.style.flexGrow = 0;
    });

    document.addEventListener('mouseup', function(e) {
    // Turn off dragging flag when user mouse is up
    isHandlerDragging = false;
    });
</script>
{% endblock %}