
{% extends 'main.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h3>{{ object.name }}</h3>
            <p>{{ object.description }}</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2"><h4>Шаги теста</h4></th>
                    </tr>
                </thead>
                <tbody>
                    {% for teststep in testcase_steps %}
                    <tr>
                        <td>{{ teststep.action }}</td>
                        <td>{{ teststep.expected_result }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="5"><h4>Прогоны тестов</h4></th>
                    </tr>
                </thead>
                <tbody>
                    {% for testcaserun in testcaseruns %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ testcaserun }}</td>
                        <td>{{ testcaserun.start_time }}</td>
                        <td><span class="badge badge-{{ testcaserun.type }}">{{ testcaserun.get_type_display }}</span></td>
                        <td><span class="badge badge-{{ testcaserun.status }}">{{ testcaserun.get_status_display }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tr><td><b>Версия: </b>{{ object.version }}</td></tr>
                <tr><td><b>Автор: </b>{{ object.author }}</td></tr>
                <tr><td><b>Создан: </b>{{ object.created_on }}</td></tr>
                <tr><td><b>Обновлен: </b>{{ object.updated_on }}</td></tr>
                <tr><td><b>Приоритет: </b>{{ object.priority }}</td></tr>
                <tr><td>---------------------------</td></tr>
                <tr><td><fieldset class="border p-2"><legend class="w-auto">Предусловия:</legend><p>{{ object.preconditions }}</p></fieldset></td></tr>
                <tr><td><fieldset class="border p-2"><legend class="w-auto">Постусловия:</legend><p>{{ object.postconditions }}</p></fieldset></td></tr>
                <tr><td><fieldset class="border p-2"><legend class="w-auto">Параметры:</legend><p>{{ object.parameters }}</p></fieldset></td></tr>
                <tr><td><a href="{% url 'TMS:testcase_update' request.resolver_match.kwargs.project object.id %}" class="btn btn-success">Редактировать</a></td></tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

