{% extends 'main.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="container border pb-2 pt-2">
                <div class="row mb-2">
                    <div class="col-md-1 d-flex justify-content-start align-items-center">
                        <h5>{{ testcase.key }}</h5>
                    </div>
                    <div class="col-md-9">
                        {{ form.name }}
                    </div>
                    <div class="col-md-2 d-flex justify-content-between align-items-center">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="{% url 'TMS:testcase_detail' request.resolver_match.kwargs.project testcase.pk %}">Назад</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-9">
                        {{ form.description }}
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-md-2 border pb-2 pt-2">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active d-flex" id="description-tab" data-bs-toggle="pill"
                        data-bs-target="#description" type="button" role="tab" aria-controls="description"
                        aria-selected="true">Описание</button>
                    <button class="nav-link d-flex" id="other-tab" data-bs-toggle="pill" data-bs-target="#other" type="button"
                        role="tab" aria-controls="other" aria-selected="false">Остальное...</button>
                </div>
            </div>
            <div class="col-md-7 border pb-2 not-padd">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel"
                        aria-labelledby="description">
                        <div class="accordion" id="accordionPanels">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseOne">
                                        Предусловия
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        {{ form.preconditions }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                        Шаги
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-horizontal mb-1 draggable teststep hide" draggable="true" id="forCopy">
                                            <li class="list-group-item bg-secondary col-auto">1</li>
                                            <textarea name="" cols="1" rows="1" onkeyup="textAreaAdjust(this)" class=" list-group-item col" id=""></textarea>
                                            <input type="hidden" name="" value="0" id="">
                                            <input type="hidden" name="" value="" id="">
                                            <textarea name="" cols="1" rows="1" onkeyup="textAreaAdjust(this)" class=" list-group-item col" id=""></textarea>
                                        </ul>
                                        {{ testcase_step_formset.management_form }}
                                        <div class="list-group" id="stepsList">
                                            {% for teststep in testcase_step_formset %}
                                            <ul class="list-group list-group-horizontal mb-1 draggable teststep"
                                                draggable="true">
                                                <li class="list-group-item bg-secondary col-auto">{{ forloop.counter }}</li>
                                                {{ teststep.action }}
                                                {{ teststep.position.as_hidden }}
                                                {{ teststep.id }}
                                                {{ teststep.expected_result }}
                                            </ul>
                                            {% endfor %}
                                        </div>
                                        <button class="btn btn-primary" type="button" onclick="addTestStep()">Добавить шаг</button>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseThree">
                                        Постусловия
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        {{ form.postconditions }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other">
                        Остальное...
                    </div>
                </div>
            </div>
            <div class="col-md-3 border pb-2 pt-2">
                <div class="row">
                    <div class="container d-flex justify-content-between">
                        <label for="">Версия</label>
                        {{ testcase.version }}
                    </div>
                </div>
                <div class="row">
                    <div class="container d-flex justify-content-between">
                        <label for="">Автор</label>
                        {{ testcase.author }}
                    </div>
                </div>
                <div class="row">
                    <div class="container d-flex justify-content-between">
                        <label for="">Приоритет</label>
                        {{ form.priority }}
                    </div>
                </div>
                <div class="row">
                    <div class="container d-flex justify-content-between">
                        <label for="">Параметры</label>
                        {{ form.parameters }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    // let stepIsHide = true;
    const totalForm = document.getElementById('id_form-TOTAL_FORMS')
    const stepList = document.getElementById('stepsList');
    const step = document.querySelector('#forCopy');
    step.classList.add('hide');

    function resetPositionNumbers(){
        const positionsArray = stepList.querySelectorAll('input[name$=position]');
        const counterArray = stepList.querySelectorAll('li')
        
        for(i=0; i<counterArray.length; i++) {
            console.log('updateting')
            positionsArray[i].value = i;
            counterArray[i].innerHTML = i+1;
        }
    }
    
    const list = document.getElementById('stepsList');
    let draggingElement = null;

    list.addEventListener('dragstart', (e) => {
        draggingElement = e.target;
        e.target.classList.add('dragging');
    });

    list.addEventListener('dragend', (e) => {
        e.target.classList.remove('dragging');
        draggingElement = null;
        resetPositionNumbers();
    });

    list.addEventListener('dragover', (e) => {
        e.preventDefault();
        const afterElement = getDragAfterElement(list, e.clientY);
        if (afterElement == null) {
            list.appendChild(draggingElement);
        } else {
            list.insertBefore(draggingElement, afterElement);
        }
    });

    function getDragAfterElement(container, y) {
        const draggableElements = [...container.querySelectorAll('.draggable:not(.dragging)')];

        return draggableElements.reduce((closest, child) => {
            const box = child.getBoundingClientRect();
            const offset = y - box.top - box.height / 2;
            if (offset < 0 && offset > closest.offset) {
                return { offset: offset, element: child };
            } else {
                return closest;
            }
        }, { offset: Number.NEGATIVE_INFINITY }).element;
    }

    function addTestStep() {
        // Копирование элмента и изменение итогового значения форм
        let totalForms = totalForm.value;
        let addStep = step.cloneNode(true);
        addStep.classList.remove('hide')
        let action = addStep.querySelector('textarea:first-of-type')
        let expected_result = addStep.querySelector('textarea:last-of-type')
        let position = addStep.querySelector('input:first-of-type')
        let id = addStep.querySelector('input:last-of-type')

        action.name = 'form-' + totalForms + '-action'
        action.id = 'id_form-' + totalForms + '-action'
        expected_result.name = 'form-' + totalForms + '-expected_result'
        expected_result.id = 'id_form-' + totalForms + '-expected_result'
        position.name = 'form-' + totalForms + '-position'
        position.id = 'id_form-' + totalForms + '-position' 
        id.name = 'form-' + totalForms + '-id'
        id.id = 'id_form-' + totalForms + '-id'

        stepList.append(addStep);
        resetPositionNumbers();

        totalForms++;
        totalForm.value = totalForms;
    }

</script>

{% endblock %}