{% extends 'main.html' %}

{% block content %}

{{ test.test.name }} <br>
{{ test.test.created_on }} <br>
{{ test.test.author }} <br>
{{ test.test.description }}
<br>
<br>
<br>
{% for item in test.test_postconditions %}
{{ item.action }} <br>   
{{ item.expected_result }} <br> 
<br>
{% endfor %}

{% for item in test.test_preconditions %}
{{ item.action }} <br>   
{{ item.expected_result }} <br> 
<br>
{% endfor %}

{% for item in test.test_steps %}
{{ item.action }} <br>   
{{ item.expected_result }} <br> 
<br>
{% endfor %}

{% endblock %}