{% extends 'main.html' %}

{% block content %}

<h2>{{ data.test.name }} </h2>

<a href="{% url 'tests:test_update' data.test.id %}">Редактировать</a> <br>
<a href="{% url 'tests_run:execute' data.test.id %}">Выполнение</a> <br> <br>

{{ data.test.created_on }} <br>
{{ data.test.author }} <br>
{{ data.test.description }}
<br>
<br>
<br>

{% for item in data.test_preconditions %}
{{ item.action }} <br>   
{{ item.expected_result }} <br> 
<br>
{% endfor %}

{% for item in data.test_steps %}
{{ item.action }} <br>   
{{ item.expected_result }} <br> 
<br>
{% endfor %}

{% for item in data.test_postconditions %}
{{ item.action }} <br>   
{{ item.expected_result }} <br> 
<br>
{% endfor %}

{% endblock %}