{% extends 'main.html' %}

{% block content %}

<h2>Test plans</h2>
<a href="{% url 'tests:test_plan_create' %}">Создать тест план</a>
<table>
    <tr>
        <th>Название</th>
    </tr>
{% for item in testplan_list %}
    <tr>
        <td><a href="{% url 'tests:test_plan_detail' item.id %}">{{ item }}</a></td>
    </tr>
{% endfor %} 
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
    {% endif %}
</div>

{% endblock %}