{% extends 'main.html' %}

{%block content %}
        <a href="{% url 'tests:test_plan_list' %}">Назад</a> <br> <br>
        <a href="{% url 'tests:test_plan_update' object.id %}">Редактировать</a> <br>
        <a href="{% url 'tests_run:test_suite' %}?test_plan={{ object.id }}">Начать выполнение в рамках тест плана</a> <br> 
    <b>Name: </b>{{ object.name }} <br>
    <b>Tests in test plan:</b> <br>
    <table>
        <tr>
            <th>Название</th>
            <th></th>
        </tr>
        {% for test in object.tests.all %}
            <tr>
                <td>{{ test }}</td>
                <td><a href="{% url 'tests_run:execute' test.id %}">Выполнить (в отрыве от тест плана)</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <b>Tests Suites of test plan:</b> <br>
    <table>
        <tr>
            <th>Название</th>
        </tr>
        {% for test_suite in object.testrunsuite_set.all %}
            <tr>
                <td><a href="{% url 'tests_run:test_suite' test_suite.id %}">{{ test_suite }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}