html {
    font-size: 20px;
    padding: 0;
    margin: 0;
}
 table, th, td {
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
 }

.step td{
    padding: 10px;
    border: 1px solid black; 
}

.parametrs-conditions p{
    padding: 0;
    margin: 10px 0 ;
}