html {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
}
.header {
    background: #bdbdbd;
}
 table, th, td {
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
 }

.step td{
    padding: 10px;
    border: 1px solid black; 
}

.parametrs-conditions p{
    padding: 0;
    margin: 10px 0 ;
}
.btn {
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
.blue-btn {
    color: white;
    background: blue;
}
.green-btn {
    color: white;
    background: green;
}
.form-con {
    display: flex;
    height: 100vh;
}  
.form-con textarea {
    width: 100%;
    font-size: 20px;
    resize: vertical;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
} 
.form-con select {
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
.form-con input {
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}
.left input {
    margin-top: 20px;
}
.left textarea {
    margin-top: 20px;
}
.left {
    width: 70%;
    padding: 5px;
}
.right {
    width: 30%;
    height: 100%;
    padding: 5px;
}
.con {
    padding: 5px;
}
.con textarea {
    border: none;
}
.teststep {
    display: flex;
}
.teststep textarea {
    min-height: 60px;
}
.border {
    border: 1px solid black;
}
/* .teststeps {
    margin-bottom: 10px;
    background: red;
} */
.execute-frame {
    display: none;
}
.execute-frame:first-child {
    display: block;
 }

.status {
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-size: 0.8em;
}
.P {
    background: green;
}
.E {
    background: rgb(107, 107, 31);
}
.F {
    background: red;
}
.S {
    background: grey;
}
.M {
    background: rgb(89, 89, 163);
}
.A {
    background: rgb(16, 16, 77);
}
