html{
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 100px;
    background: #444;
}

.header ul{
    height: 100%;
    display: flex;
    align-items: center;
}
.header li{
    list-style-type: none;
}
.header a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.result{
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.P{
    background: green;
}
.E, .F{
    background: red;
}
.S{
    background: grey;
}
tr{
    height: 40px;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
    color: #444;
 }

 table, th, td {
    border: 1px solid black;
 }