{% extends 'main.html' %}

{% block content %}

<a href="{% url 'tests:test_detail' test_id %}">Назад</a>

<form action="" method="post">
    <h2>Test run info</h2>
    {% csrf_token %}
    {{ form.as_p }}

    <br>
    <h4>Test Preconditions</h4>
    {% for item in test_preconditions %}
        <b>Action</b>: {{ item.action }} <b>Expected result</b>: {{item.expected_result}} <select name="preconditions">{% for option in select.result %}{{ option }}{% endfor %}</select> <br>
    {% endfor %}
    <br>
    <br>
    <h4>Test Steps</h4>
    {% for item in test_steps %}
    <b>Action</b>: {{ item.action }} <b>Expected result</b>: {{item.expected_result}} <select name="steps">{% for option in select.result %}{{ option }}{% endfor %}</select> <br>
    {% endfor %}
    <br>
    <br>
    <h4>Test Postconditions</h4>
    {% for item in test_postconditions %}
    <b>Action</b>: {{ item.action }} <b>Expected result</b>: {{item.expected_result}} <select name="postconditions">{% for option in select.result %}{{ option }}{% endfor %}</select> <br>
    {% endfor %}

    <button type="submit">Сохранить</button>
</form>


{% endblock %}