{% extends 'main.html' %}
{% load filters %}

{% block content %}

<h2>Test runs</h2>

{% for item in testrun_list %}

    {% if item|isinstance:"list" %}
        {% for inner_item in item %}
            <span>__</span><a href="{% url 'tests_run:test_run_detail' inner_item.id %}">{{ inner_item }} </a> <span class="'result {{ inner_item.result }}">{{ inner_item.get_result_display }}</span> <br>
        {% endfor %} <br>
    {% else %}
        <a href="{% url 'tests_run:test_run_detail' item.id %}">{{ item }} </a> <span class="'result {{ item.result }}">{{ item.get_result_display }}</span> <br>
    {% endif %} <br>

{% endfor %} 

{% endblock %}