{% extends 'main.html' %}

{% block content %}
<table>
    <tr>
        <th>Тест</th>
        <th>Статус</th>
        <th>Тестовый прогон</th>
        <th></th>
    </tr>
    {% for item in data %}
        <tr>
            <td>{{ item.test }}</td>
            <td>{% if item.test_run is None %}<span class="result S">IN PROGRESS</span>{% else %}<span class="result P">DONE</span>{% endif %}</td>
            <td>{% if item.test_run is not None %}<a href="{% url 'tests_run:run' item.test_run.id %}">{{ item.testrun }}</a>{% endif %}</td>
            <td><a href="{% url 'tests_run:execute' item.test.id %}">Выполнить</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}